body{margin: 0px;
}

    img{opacity: 0.4;
    filter: alpha(opacity=40);}
input{
	border-radius: 6px;
	margin-bottom: 0px;
}

		input[type=text]{
			border: 2px solid;
			color: white;
			padding: 7px; 
			background-color: rgba(000,255,255,0.2);
		}

		input[type=text]:focus {			
		    background-color: lightyellow;
		    color: green;
		}
				input[type=text]#lid{
					
					margin-left: 780px;
					margin-right: 2px;	
				}
				input[type=checkbox]#keep_chk{
					margin-left: 780px;
				}
				label#llabel{
					margin-left: 782px;
				}
				label#plabel{
					margin-left: 151px;
				}
				a#reset_link{
					margin-left: 80px;
				}

p#create_text{
	margin-bottom: 0px;
	font-size: 45px;
	margin-left: 50px;

}
p#itsfree_text{
	margin-top: 0px;
	font-size: 25px;
	margin-left: 50px;
}
div#header{
    background-color:rgba(123,124,045,0.2);
    color:white;
    padding:1px;
}
div#registration_area{
    background-color: rgba(192,192,192,0.2);
    float: right;
    width:50%;
    height: 600px;
    border-radius: 4px;
 
}

div#this_page{
	background-color: rgba(234,234,000,0.1);
	width: 50%;
	height:600px;
	float:left;
}
p#this_page{
	font-size: 30px;
	text-align: center;
}

input[type=text]#fname{margin-left: 50px; width:200px;margin-bottom: 10px; padding: 12px;}
				input[type=text]#lname{width:200px;padding: 12px;margin-bottom: 10px;}
				input[type=text]#email{margin-left: 50px; width:432px;padding: 12px;margin-bottom: 10px;}
				input[type=text]#renter_mail{margin-left: 50px; width:432px;padding: 12px;margin-bottom: 10px;}
				input[type=text]#new_pwd{margin-left: 50px; width:432px;padding: 12px;}
p#birthday{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	margin-left: 50px;
}
select{
	padding: 6px;
	}
select#date{
	margin-left: 50px;
	}
	select#year{
	margin-right: 10px;
	}
input[type=radio]#mf1{
	margin-left: 50px;
	margin-top: 12px;
}
input[type=submit]#create_account{margin-left: 50px;
margin-top: 12px;
padding: 6px;
width: 200px;
background-color: green;
font-size: 18px;
color: rgb(200,200,200);
font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* 

To set the transparent background image

*/
div#background_img {
  width: 1400px;
  height: 1600px;
  position: relative;
}

div::after {
  content: "";
  background: url(login.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}